@{
    ViewData["Title"] = "SEPA Druckerei";
}

<div class="column is-12">

    <!-- the different sections will be rendered here  -->
    
    <div ng-view=""></div>

</div>


<!-- 

<section class="section" id="card">
                  <h1 class="title">&nbsp;Derzeit ausgefürter Menüpunkt&nbsp;</h1><hr><div class="columns">
                            <div class="column is-12">
                              
<div class="card">
                                <header class="card-header">
                                  <p class="card-header-title"> Component </p>
                                  
                                </header>
                                <div class="card-content">
                                  <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                     <a>#css</a>
                                    <a>#responsive</a>
                                    <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                                </div>
                                <footer class="card-footer">
                                  
                                  
                                  <a class="card-footer-item">Footer</a>
                                </footer>
                              </div>

                            </div>
                            
                          </div>
              </section> 

-->