<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - SEPA Druckerei</title>
    <link href="/css/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/node_modules/bulmaswatch/darkly/bulmaswatch.min.css" rel="stylesheet" type="text/css">

         
</head>
    
<body class="body-content">
    
    <section class="hero is-primary"> 
               <div class="hero-head">
                  <nav class="main-nav navbar ">
                      <div class="container">
                        <div class="navbar-start">
                          <a class="navbar-item" href="https://jenil.github.io/bulmaswatch/">
                            <img src="/images/business_logo.png" alt="" class="logo">
                            <h1 class="title is-5">&nbsp;IT-Service Rhein Ruhr&nbsp;</h1>
                          </a>
                          <a class="navbar-item " href="https://jenil.github.io/bulmaswatch/">Home</a>
                          
                          
                          <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                              Themes
                            </a>
                            <div class="navbar-dropdown is-boxed">
                              <div class="columns">
                                   <div class="column">
                                                        
                               
                                    </div>
                                    <div class="column">
                                     
                                    
                                    </div>
                             </div>
                           </div>
                          </div>
                          <a class="navbar-item " href="https://jenil.github.io/bulmaswatch/help/">Help</a>
                    </div>
    
                    <div class="navbar-menu">
                      
                      <a class="navbar-item" href="//github.com/jenil/bulmaswatch/issues" target="_blank" onclick="ga('send', 'event', 'nav', 'click', 'issue');">
                        <i class="fa fa-bug"></i>&nbsp;Problem melden &nbsp; &nbsp; &nbsp;&nbsp;</a>
                      
                      
                    </div>
                  </div>
                </nav>

                </div>
                <!-- Hero content: will be in the middle -->
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">SEPA Druckerei&nbsp;</h1>
                    <h2 class="subtitle">Sie verwenden derzeit die Probeversion&nbsp;</h2>
                    <p>
                      <a class="button is-primary is-inverted" href="/bulmaswatch/darkly/bulmaswatch.min.css" target="_blank" onclick="ga('send', 'event', 'theme', 'download', 'Darkly');">&nbsp;Lizenz jetzt kaufen </a>
                      
                    </p>
                  </div>
                </div>
           </section>

            <div class="columns">
              <div class="column is-2">
                <section class="section" id="menu">
                  <aside class="menu">
                      
                      
                      
                      <ul class="menu-list">
                        
                        <li>
                          <a class="is-active" style="text-align: center">Konten</a>
                          <ul>
                            <li>
                              <a>Inhaber</a>
                            </li>
                            
                            
                          </ul>
                        </li>                     
   </ul>
   


<ul class="menu-list">
                        
                        <li>
                          <a class="is-active" style="text-align: center">Überweisungen</a>
                          <ul>
                            <li>
                              <a>Vorlagen</a>
                            </li>
                            <li>
                              <a>Verwendungszweck</a>
                            </li>
                            <li>
                              <a>Neue Überweisung</a>
                            </li>
                          </ul>
                        </li>
                        
                        
                        
                      </ul><ul class="menu-list">
                        
                        <li>
                          <a class="is-active" style="text-align: center">Backup</a>
                          <ul>
                            <li>
                              <a>Intervall</a>
                            </li>
                            <li>
                              <a>Neues Backup erstellen</a>
                            </li>
                            <li>
                              <a>Backup laden</a>
                            </li>
                          </ul>
                        </li>
                        
                        
                        
                      </ul>


                      
                      
                      <div class="buttons">
                        <a class="button is-link">&nbsp;Menü ausblenden&nbsp;</a>
                      </div> 
                  </aside>
              </section> 
            </div>
            <div class="column is-10">
              <section class="section" id="card">
                  <h1 class="title">&nbsp;Derzeit ausgeführter Menüpunkt&nbsp;</h1><hr><div class="columns">      
                       
                          
                          <div class="columns">
                            <div class="column is-9">
                              <div class="card">
                                <div class="card-image">
                                  <figure class="image is-4by3"> <img src="https://source.unsplash.com/random/800x600" alt="Image"> </figure>
                                </div>
                                <div class="card-content">
                                  <div class="media">
                                    <div class="media-left">
                                      <figure class="image" style="height: 40px; width: 40px;"> <img src="https://source.unsplash.com/random/96x96" alt="Image"> </figure>
                                    </div>
                                    <div class="media-content">
                                      <p class="title is-4">John Smith</p> 
                                    </div>
                                  </div>
                                  <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                     <a>#css</a>
                                    <a>#responsive</a>
                                    <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                                </div>
                              </div>
                            </div>
                            <div class="column is-3">
                              <div class="card">
                                <header class="card-header">
                                  <p class="card-header-title"> Component </p>
                                  <a class="card-header-icon">
                                    <span class="icon"> <i class="fa fa-angle-down"></i> </span>
                                  </a>
                                </header>
                                <div class="card-content">
                                  <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                     <a>#css</a>
                                    <a>#responsive</a>
                                    <br> <small>11:09 PM - 1 Jan 2016</small> </div>
                                </div>
                                <footer class="card-footer">
                                  <a class="card-footer-item">Save</a>
                                  <a class="card-footer-item">Edit</a>
                                  <a class="card-footer-item">Delete</a>
                                </footer>
                              </div>
                            </div>
                          </div>
                  </div>
              </section> 
            </div>

    

 </div> 
            
        @RenderBody()
        
        <footer>
            <p>&copy; 2018 - SEPA Druckerei</p>
        </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
