<!doctype html>
<html>
  <head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>@ViewData["Title"] - SEPA Druckerei</title>
  <link href="/css/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/node_modules/bulmaswatch/darkly/bulmaswatch.min.css" rel="stylesheet" type="text/css">    
</head>
  
<body class="body-content">
  
  <section class="hero is-primary"> 
             <div class="hero-head">
                <nav class="main-nav navbar ">
                    <div class="container">
                      <div class="navbar-start">
                        <a class="navbar-item" href="https://jenil.github.io/bulmaswatch/">
                          <img src="/images/business_logo.png" alt="" class="logo">
                          <h1 class="title is-5">&nbsp;IT-Service Rhein Ruhr&nbsp;</h1>
                        </a>
                        <a class="navbar-item " href="https://jenil.github.io/bulmaswatch/">Home</a>
                        
                        
                        <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link">
                            Themes
                          </a>
                          <div class="navbar-dropdown is-boxed">
                            <div class="columns">
                                 <div class="column">
                                                      
                             
                                  </div>
                                  <div class="column">
                                   
                                  
                                  </div>
                           </div>
                         </div>
                        </div>
                        <a class="navbar-item " href="https://jenil.github.io/bulmaswatch/help/">Help</a>
                  </div>
  
                  <div class="navbar-menu">
                    
                    <a class="navbar-item" href="//github.com/jenil/bulmaswatch/issues" target="_blank" onclick="ga('send', 'event', 'nav', 'click', 'issue');">
                      <i class="fa fa-bug"></i>&nbsp;Problem melden &nbsp; &nbsp; &nbsp;&nbsp;</a>
                    
                    
                  </div>
                </div>
              </nav>

              </div>
              <!-- Hero content: will be in the middle -->
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">SEPA Druckerei&nbsp;</h1>
                  <h2 class="subtitle">Sie verwenden derzeit die Probeversion&nbsp;</h2>
                  <p>
                    <a class="button is-primary is-inverted" href="/bulmaswatch/darkly/bulmaswatch.min.css" target="_blank" onclick="ga('send', 'event', 'theme', 'download', 'Darkly');">&nbsp;Lizenz jetzt kaufen </a>
                    
                  </p>
                </div>
              </div>
         </section>

          <div class="columns">
            <div class="column is-2">
              <section class="section" id="menu">
                <aside class="menu">
                      
                    <ul class="menu-list">
                      
                      <li>
                        <a class="is-active" style="text-align: center">Konten</a>
                        <ul>
                          <li>
                              <a href="#AccountOwner">Inhaber</a>
                          </li>
                           
                        </ul>
                      </li>                     
 </ul>
 


<ul class="menu-list">
                      
                      <li>
                        <a class="is-active" style="text-align: center">Überweisungen</a>
                        <ul>
                          <li>
                            <a>Vorlagen</a>
                          </li>
                          <li>
                            <a>Verwendungszweck</a>
                          </li>
                          <li>
                            <a>Neue Überweisung</a>
                          </li>
                        </ul>
                      </li>
                      
                      
                      
                    </ul><ul class="menu-list">
                      
                      <li>
                        <a class="is-active" style="text-align: center">Backup</a>
                        <ul>
                          <li>
                            <a>Intervall</a>
                          </li>
                          <li>
                            <a>Neues Backup erstellen</a>
                          </li>
                          <li>
                            <a>Backup laden</a>
                          </li>
                        </ul>
                      </li>
                      
                      
                      
                    </ul>


                    
                    
                    <div class="buttons">
                      <a class="button is-link">&nbsp;Menü ausblenden&nbsp;</a>
                    </div> 
                </aside>
            </section> 
          </div>
          <div class="column is-10">
              <rendertarget></rendertarget>
           </div>

  

</div> 
          
      <hr>
 
      <footer>
          <p style="text-align: center">© 2018 - SEPA Druckerei</p>
      </footer>


      @RenderSection("Scripts", required: false)


<script type="text/javascript" src="/js/scripts/RoutingApp/inline.bundle.js"></script><script type="text/javascript" src="/js/scripts/RoutingApp/polyfills.bundle.js"></script><script type="text/javascript" src="/js/scripts/RoutingApp/styles.bundle.js"></script><script type="text/javascript" src="/js/scripts/RoutingApp/vendor.bundle.js"></script><script type="text/javascript" src="/js/scripts/RoutingApp/main.bundle.js"></script></body></html>
